<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Zian Ke's Personal Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">-->


    <!--For Plugins external css-->
    <link rel="stylesheet" href="/static/css/plugins.css"/>
    <link rel="stylesheet" href="/static/css/roboto-webfont.css"/>

    <!--Theme custom css -->
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="/static/css/responsive.css"/>

    <script src="/static/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class='preloader'>
    <div class='loaded'>&nbsp;</div>
</div>
<!-- Sections -->
{% include 'header.html' %}

<!--Home page style-->
<div style="background-color: #000">
    <section class="home" id="about">
        <div class="overlay-fluid-block">
            <div class="container text-center">
                <div class="row">
                    <div class="home-wrapper">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="home-content">
                                <div class="home-text">
                                    <h1><a href="/about/"><span>ABOUT ME</span></a></h1>
                                    <p><span>Not only a computer science student, but also a curious seeker of new
                                        technology.</span></p>
                                    <p><span>Not only a fan of classical music and art, but also an appreciator of all kinds
                                        of beauty.</span></p>
                                    <p><span>Not only a traveller around the United States, but also a small explorer of the
                                        great world.</span></p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                        <div class="home-contact">
                                            <a href="/uploads/ZianKeResume.pdf"><input type="submit"
                                                                                       class="form-control"
                                                                                       value="My Résumé"></a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home" id="blog">
        <div class="overlay-fluid-block">
            <div class="container text-center">
                <div class="row">
                    <div class="home-wrapper">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="home-content">

                                <h1>Bring your Big Data to Life With Soft-Tech</h1>
                                <p>Blue Lance transforms your company's data into rich visuals for you to collect and
                                    organize so you can focus on what matters to you. Stay in the know, spot trends as
                                    they happen, and push your business further.</p>

                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                        <div class="home-contact">
                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="Enter your email address">
                                                <input type="submit" class="form-control" value="Use It Free">

                                            </div><!-- /input-group -->


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home" id="projects">
        <div class="overlay-fluid-block">
            <div class="container text-center">
                <div class="row">
                    <div class="home-wrapper">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="home-content">

                                <h1>Bring your Big Data to Life With Soft-Tech</h1>
                                <p>Blue Lance transforms your company's data into rich visuals for you to collect and
                                    organize so you can focus on what matters to you. Stay in the know, spot trends as
                                    they happen, and push your business further.</p>

                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                        <div class="home-contact">
                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="Enter your email address">
                                                <input type="submit" class="form-control" value="Use It Free">

                                            </div><!-- /input-group -->


                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="scrollup">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>


<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/plugins.js"></script>
<script src="/static/js/modernizr.js"></script>
<script src="/static/js/header.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>
