/* ------------------------------------------------------------------------------
	 Header Slider
-------------------------------------------------------------------------------*/

.carousel {
	width: 80%;
	margin: auto;
}
.item, .active, .carousel-inner {
	height: 100%;
}
.carousel-inner img {
	width: 100%;
}
.carousel-caption {
	bottom: 40%;
	color: #fff;
	left: 15%;
	padding-bottom: 20px;
	padding-top: 20px;
	position: absolute;
	right: 15%;
	text-align: center;
	z-index: 10;
}
.carousel-caption h3 {
	font-family: "Open Sans", sans-serif;
	color: #2d3033;
	text-shadow: none;
	font-size: 31px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.carousel-caption p {
	font-family: "Open Sans", sans-serif;
	color: #6c7279;
	text-shadow: none;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 2px;
}
.carousel-control.left {
	background: none;
}
.carousel-control.right {
	background: none;
}
.carousel-control {
	opacity: 1;
	text-shadow: none;
}