.blog-area {
    background-image: url(/static/images/blog_bg.jpg);
    padding: 40px 0 40px 0;
}

.post-content {
    margin: 40px auto 0 auto;
    width: 80%;
    max-width: 1000px;
    padding: 5% 7%;
    background-color: #fff;
    border-top: 10px solid rgb(245, 245, 245);
    border-bottom: 4px solid rgb(145, 145, 145);
}

.post-content h1 {
    margin-bottom: 20px;
}

.carousel-inner {
    border: 5px solid #fff;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
    box-shadow: 0 0 3px 3px #888;
}

.blog-area video {
    display: block;
    margin: 40px auto 0 auto;
    width: 80%;
    max-width: 1000px;
    border: 5px solid #fff;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
    box-shadow: 0 0 3px 3px #888;
}