.blog-area {
    background-image: url(/static/images/blog_bg.jpg);
    padding: 40px 0 150px 0;
}

.post-content {
    margin: 40px auto 0 auto;
    width: 80%;
    padding: 5% 7%;
    background-color: #fff;
    border-top: 10px solid rgb(245, 245, 245);
    border-bottom: 4px solid rgb(145, 145, 145);
}

.post-abstract {
    border-top: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 20px 0;
}

.post-cover {
    margin: auto;
    width: 180px;
    height: 180px;
    border: 7px solid rgb(242, 242, 242);
}

.post-cover:hover {
    cursor: pointer;
}

@media only screen and (max-width: 2000px) {
    .post-title {
        margin-bottom: 20px;
    }

    .post-abstract a {
        font-size: 20px;
        font-weight: bold;

    }

    .post-abstract p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .post-title {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .post-abstract a {
        font-size: 15px;
        font-weight: bold;

    }

    .post-abstract p {
        font-size: 13px;
    }
}

.post-abstract a {
    color: #000;
    text-decoration: none;
}