.background {
    position: fixed;
    top: 0;
    left: 10rem;
    right: 0;
    bottom: 0;
    background-image: url("../img/biography2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}