body {
    overflow: hidden;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

/* Fonts */

.font-link {
    font-family: 'Roboto', serif
}

.font-text {
    font-family: 'Crimson', serif
}

.font-quote {
    font-family: 'Playfair Display', serif
}

/* Navbar */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #1a1b1c;
}

.name-div {
    width: 120px;
    position: absolute;
    top: 50px;
    left: 40px;
    z-index: 10;
}

.name {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffff;
    width: 100%;
    padding-top: 1px; /* Allows for hr margin to start at top of h2 */
}

.name:after {
    content: "";
    display: table;
    clear: both;
}

.name hr {
    border: solid #ffffff;
    border-width: 2px 0 0 0;
    margin-top: 13px;
}

.first-name span {
    padding-right: 8px;
    float: left;
}

.last-name span {
    padding-left: 8px;
    float: right;
}

.navs-div {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
}

.navs {
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #95938c;
    text-decoration: none;
    margin: 6px 0;
    transition: color .25s;
}

.navs:hover {
    color: #ffffff;
}

.navs-active {
    color: #ffffff;
    padding-left: 10px;
}

.navbar-triangle {
    position: absolute;
    top: 0;
    left: 200px;
}

/* Common */

.center-parent {
    position: relative;
}

.center-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}