.index-section {
    width: 100%;
    height: 100vh;
    background-color: #e6e4de;
}

.index-section-container {
    margin-left: 200px;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .index-section-container {
        margin-left: 0;
        padding-top: 60px;
    }

    #home .index-section-container {
        margin-left: 0;
        padding-top: 0;
    }
}

#home .index-section-container {
    height: 100%;
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#home .mask {
    height: 100%;
    background: radial-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 90%);
}

#biography .index-section-container {
    height: 100%;
    background-color: #e6e5df;
}

#biography .sections {
    width: 100%;
    max-height: 100%;
}

#projects .index-section-container {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/projects.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;
}

#projects .img-cards-container {
    max-width: calc(100% - 50px);
    background-color: rgba(0, 0, 0, 0);
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 50px;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    #projects .img-cards-container {
        max-width: 100%;
        padding-left: 0;
    }
}

#projects ::-webkit-scrollbar {
    width: 12px;
}

#projects ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#projects ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(100, 100, 100, 0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

#blog .index-section-container {
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/blog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#contact .index-section-container {
    height: 100%;
    background-color: #e6e5df;
}

/* Text Card */
.text-card {
    display: block;
    width: 80%;
    margin: 2rem auto;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #131416;
    padding: 1rem;
    cursor: pointer;
    transition: all .4s;
}

.text-card:hover {
    background-color: rgba(255, 255, 255, 1);
}

#computer-skills {
    height: 25%;
}

#education {
    height: 15%;
}

#work-experience {
    height: 20%;
}

.text-card h1 {
    width: 100%;
    margin-left: -1rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 3px;
    color: #131416;
}

.text-card p {
    width: 100%;
    margin-left: -1rem;
    font-size: 0.7rem;
    font-weight: 300;
    color: #131416;
}

.text-card p span {
    display: inline-block;
    margin: 0 1rem;
}

@media screen and (max-width: 768px) {
    .text-card p span {
        display: block;
    }
}

.text-card .more {
    width: 100%;
    margin-left: -1rem;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #131416;
    margin-top: 0;
    opacity: 0;
}

/* Image Card */
.img-card-container {
    display: inline-block;
    height: 27rem;
    background-color: rgba(0, 0, 0, 0);
    margin: 1.5rem;
}

.img-card {
    display: block;
    width: 15rem;
    height: 23rem;
    background: #ffffff;
    margin-top: 4rem;
    cursor: pointer;
}

.img-card img {
    width: 100%;
    display: block;
}

.img-card-content {
    width: 15rem;
    height: 8rem;
    text-align: center;
    white-space: normal;
}

.img-card-content .center-child {
    width: 90%;
}

.img-card-content .keywords {
    font-size: 0.8rem;
}

@media screen and (max-height: 576px) {
    .img-card-container {
        height: 15rem;
    }

    .img-card {
        width: 8rem;
        height: 12rem;
        margin-top: 3rem;
    }

    .img-card-content {
        width: 8rem;
        height: 4rem;
    }

    .img-card-content p {
        margin: 0;
        font-size: 0.7rem;
    }

    .img-card-content .keywords {
        font-size: 0.5rem;
    }
}