<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Following</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('index') }}static/css/header.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('index') }}static/css/following.css">
</head>
<body>
<div class="header">
    <a href="{{ url_for('index') }}"><img src="{{ url_for('index') }}static/images/logo.png" class="logo" alt="logo"></a>
    <div class="header-links"><a href="{{ url_for('explore') }}">explore</a><span> | </span><a
            href="{{ url_for('user',username = logname) }}">{{logname}}</a></div>
</div>
<h1 style="margin-left: 80px">Following</h1>
{% for follow in following %}
<div class="following">
    <table style="width: 100%">
        <tr>
            <td>
                <a href="{{ url_for('user', username = follow.username) }}"><img src="{{follow.user_img_url}}" alt="following_img"></a>
                <a href="{{ url_for('user', username = follow.username) }}">{{follow.username}}</a>
            </td>
            {% if follow.username != logname and follow.logname_follows_username %}
            <td style="float: right">
                <div>
                    <p>following | </p>
                    <div style="display: inline-block">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="submit" name="unfollow" value="unfollow" class="button_style button1"/>
                            <input type="hidden" name="username" value="{{follow.username}}"/>
                        </form>
                    </div>
                </div>
            </td>
            {% endif %}{% if follow.username != logname and not follow.logname_follows_username %}
            <td style="float: right">
                <div>
                    <p>not following | </p>
                    <div style="display: inline-block">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="submit" name="follow" value="follow" class="button_style button1"/>
                            <input type="hidden" name="username" value="{{follow.username}}"/>
                        </form>
                    </div>
                </div>
            </td>
            {% endif %}
        </tr>
    </table>
</div>
{% endfor %}
</body>
</html>
