.background {
    position: fixed;
    top: 0;
    left: 10rem;
    right: 0;
    bottom: 0;
    background-image: url("../img/biography2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.biography-div {
    position: absolute;
    top: 0;
    left: 10rem;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .background {
        left: 0;
    }

    .biography-div {
        left: 0;
    }
}

.biography-container {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    height: 2000px;
    background-color: rgba(19, 20, 22, 0.9);
    box-shadow: 0 0 100px 100px rgba(19, 20, 22, 0.9);
}

.biography {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #ffffff;
    width: 800px;
    max-width: calc(100% - 10rem);
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

@media screen and (max-width: 768px) {
    .biography {
        width: 90%;
        max-width: 600px;
    }
}

.biography-name table {
    width: 100%;
    text-align: center;
    border-spacing: 25px;
}

.biography-name hr {
    border: none;
    height: 2px;
    color: #ffffff;
    background-color: #ffffff;
}

.biography-introduction-content {
    text-align: left;
}

.biography-introduction-content span {
    background-color: rgba(0, 0, 0, 0.5);
}

.biography-section {
    margin-top: 2rem;
}

.progress {
    margin-bottom: 2rem;
}

.progress-track {
    background-color: rgba(200, 200, 200, 0.5);
    height: 4px;
    border-radius: 2px;
}

.progress-bar {
    background-color: #ffffff;
    height: 100%;
    width: 0;
    border-radius: 2px;
}

.biography-item {
    margin-bottom: 2rem;
    text-align: left;
}

.biography-item-line {
    overflow: auto;
}

.biography-item-line span:nth-child(1) {
    float: left;
}

.biography-item-line span:nth-child(2) {
    float: right;
}

@media screen and (max-width: 1200px) {
    .biography-item-line span:nth-child(1) {
        float: none;
        display: block;
    }

    .biography-item-line span:nth-child(2) {
        float: none;
        display: block;
    }
}

.biography-item-content {
    margin-left: 1rem;
}

#education, #work-experience, #project-experience {
    font-size: 1rem;
}