@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 14px;
    }
}

body {
    overflow: hidden;
    margin: 0;
}

.hidden {
    display: none;
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

/* Fonts */

.font-link {
    font-family: 'Roboto', serif
}

.font-text {
    font-family: 'Crimson Text', serif
}

.font-quote {
    font-family: 'Playfair Display', serif
}

/* Common */

.center-parent {
    position: relative;
}

.center-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.verticle-center-parent {
    position: relative;
}

.verticle-center-child {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.display-on-large {
    display: block;
}

.display-on-small {
    display: none;
}

@media screen and (max-width: 768px) {
    .display-on-large {
        display: none;
    }

    .display-on-small {
        display: block;
    }
}
