<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Zian Ke - Biography</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel='shortcut icon' type='image/x-icon' href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/biography.css"/>
</head>
<body id="biography">
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<div class="background">

</div>

<div class="biography-div">
    <div class="biography-container">
    </div>
    <div class="biography font-text">
        <div class="font-link">BIOGRAPHY</div>
        <div class="biography-name">
            <table>
                <tr>
                    <td>
                        <hr/>
                    </td>
                    <td style="width: 1%; white-space: nowrap">
                        <div style="font-size: 3rem; margin: 2rem">Zian Ke</div>
                    </td>
                    <td>
                        <hr/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="biography-introduction-content"><b><span>As a senior student majoring in Computer Science at University of Michigan, I have strong skills and sufficient experience in software engineering. In my role as a full-stack developer and back-end architect in the past three years, I have led several projects including AuraMaze and CSSA Apps, in charge of front-end framework design, RESTful API implementation, search engine development, distributed database management, cloud server deployment and quality assurance.</span></b><br/><br/>
            <p>(Following is a copy of my Personal Statement in graduate school application.)</p>
            <p>Before I started my journey in Computer Science, there is another thing that made equally significant
                influence on me, Art. I began playing the piano at elementary school, and later won the Silver Award in
                the "Future Star" National Youth Piano Competition in China. Piano opened the door to classical music
                for me, and led me into the concerts of world-famous soloists, as well as conductors and orchestras. My
                passion for classical music was so strong that I determined to promote it to more people and let them
                enjoy its beauty.</p>
            <p>This dream motivated me to launch a project named "Classical Gramophone" at Shanghai High School. Apart
                from holding lectures and broadcast programs on the history of music, the core of this project is to
                produce classical music apps for mobile device users, so that they can have access to music data more
                conveniently. Despite being a neophyte in programming at that time, I collaborated with professional
                developers in iOS and Android, and made use of a little Visual Basic knowledge learnt from class to
                build the Windows application. With the publication on App Store (China) and the high praise from my
                friends, I realized the power of computer programming for the first time, and desired to utilize coding
                to make more of my ideas come true. That's my initial motivation of choosing Computer Science as my
                undergraduate major.</p>
            <p>My freshman and sophomore years at Shanghai Jiao Tong University largely enriched my knowledge and
                broadened my horizon. My role as Tech Leader in two full-stack projects, Teaching Assistant Recruitment
                System for UM-SJTU Joint Institute, and Online Appraisal System for Huawei Technologies, enabled me to
                build comprehensive technology stacks in software engineering, from front-end framework to back-end
                architecture, and from database management system to cloud server deployment. Besides, my first research
                project Fingerprint Minutiae Extraction made me fascinated by the power of Deep Learning especially CNN
                model for the first time. That's why I have been exploring the most cutting-edge AI technologies since
                then. Meanwhile, thanks to the exchange program at Technical University of Berlin in January 2017, I had
                a golden opportunity to travel around seven European countries, in pursuit of the precious artworks at
                Rijksmuseum, the extraordinary sound of Vienna Philharmonic Orchestra, and the monumental French Gothic
                Cathedrals in Chartres, Reims, Amiens, etc. These great achievements in art history often arouse my
                reflection that, as a Computer Science student, despite being at the forefront of the technology growth,
                together with contributing with something that no one else has ever made, we still require looking back
                to the brilliant human history, together with learning from those contributions that no one else could
                ever surpass.</p>
            <p>I was lucky to be selected as a Dual Degree Program student, and started my journey at University of
                Michigan in September 2017. After taking several upper-level CS courses which further enhanced my skills
                in Software Systems and Artificial Intelligence, I realized that the crossroad of these two domains is
                Big Data, and eventually established it as my future academic and career goal. However, another question
                came to me: What kind of impact should Big Data have on Art, considering it's one of the most humanistic
                domains and should never be replaced by machine. I finally found my answer from Auguste Rodin. 2017 was
                the 100th anniversary of Rodin's death. While traveling across the U.S. to study his works, the book
                <i>Rodin on Art and Artists</i> enlightened me that there do exist good and evil in this world, while
                the mission of artists is to discover beauty from both of them. I believe we computer scientists and
                engineers should make use of Big Data in the same way, to reveal humanity and bring hope to this world.
                From my perspective, software systems, or more specifically, large-scale and data-intensive
                applications, is the Eighth Art besides the seven forms of art defined by Ricciotto Canudo and Hegel.
                Moreover, it has an advantage over all the other seven, which is the potential to connect every single
                person in this world, thus it could bring opportunity and equality to everyone.</p>
            <p>With such a faith, I accomplished two projects in my senior year that I'm most proud of. The first
                project is the Salary Prediction Model developed during my internship at MPOWER Financing. With access
                to huge datasets, I built a Machine Learning model to predict students' potential salary based on their
                major, school, degree level, and home country. This model is then used as a credit reference by the
                company to give education loans to international students in order to help them reach academic
                potentials and achieve career goals. Although based on previous data, I believe that the Salary
                Prediction Model does not mean to define a path to wealth. Instead, it aims to discover more individuals
                with humble origins to attain remarkable success, and more students from ordinary schools to make
                extensive contributions. The second project is AuraMaze, which aims to enable art museum visitors to
                identify a painting with phone camera and learn everything about its background. Our apps have been
                published on App Store and Google Play, with a high identification accuracy covering more than 140,000
                public domain paintings. We are also actively cooperating with museums and art institutes, such as
                University of Michigan Museum of Art and LSA College of History of Art, to promote our products to more
                users. I hope that the AuraMaze project not only provides art lovers with an accessible channel to art
                information, but also encourages more people to go to art museums and have face-to-face communication
                with artworks.</p>
            <p>At present, I'm working on an even more exciting research project named Table Embeddings under
                instruction of Prof. Michael Cafarella. It's based on 233 million tables from Web HTML, from which we
                could mine unlimited treasure. In the future, there are more Big Data related projects awaiting for me
                to explore, either by building scalable and reliable systems to provide users with infrastructure of
                data communication, or by data mining that could enable us to develop more powerful and more intelligent
                applications. Anyway, we need to be cautious about the power of Big Data, which is just like Professor
                X's Cerebro, with which he has witnessed so much good and evil, but can still have hope for human
                beings. I agree with Martin Kleppmann's conclusion in <i>Designing Data-Intensive Applications</i>: "As
                software and data are having such a large impact on the world, we engineers must remember that we carry
                a responsibility to work toward the kind of world that we want to live in: a world that treats people
                with humanity and respect." The future of Big Data is challenging, but I'm ready to go on my
                adventure.</p>
        </div>

        <div id="computer-skills" class="biography-section font-quote">
            <div class="biography-name font-text">
                <table>
                    <tr>
                        <td>
                            <hr/>
                        </td>
                        <td style="width: 1%; white-space: nowrap">
                            <div style="font-size: 2rem; margin: 2rem">Computer Skills</div>
                        </td>
                        <td>
                            <hr/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">C++</span>
                    <span style="float: right">80%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="80"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">Go</span>
                    <span style="float: right">80%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="80"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">Java</span>
                    <span style="float: right">85%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="85"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">HTML/CSS</span>
                    <span style="float: right">85%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="85"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">JavaScript (jQuery, React, Angular, Node.js)</span>
                    <span style="float: right">90%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="90"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">PHP (CodeIgniter)</span>
                    <span style="float: right">85%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="85"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">Python (Flask, scikit-learn)</span>
                    <span style="float: right">87%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="87"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">SQL (MySQL, PostgreSQL, SQLite, SQL*Plus)</span>
                    <span style="float: right">87%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="87"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">NoSQL (MongoDB, DynamoDB)</span>
                    <span style="float: right">83%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="83"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">Search Engine (Elasticsearch, Solr)</span>
                    <span style="float: right">83%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="83"></div>
                </div>
            </div>
            <div class="progress">
                <div style="height: 2rem">
                    <span style="float: left">Web Server (Nginx, Apache)</span>
                    <span style="float: right">80%</span>
                </div>
                <div class="progress-track">
                    <div class="progress-bar" width="80"></div>
                </div>
            </div>
        </div>

        <div id="education" class="biography-section font-text">
            <div class="biography-name">
                <table>
                    <tr>
                        <td>
                            <hr/>
                        </td>
                        <td style="width: 1%; white-space: nowrap">
                            <div style="font-size: 2rem; margin: 2rem">Education</div>
                        </td>
                        <td>
                            <hr/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="biography-item">
                <div class="biography-item-line">
                    <span><b>University of Michigan</b></span>
                    <span>Ann Arbor, MI</span>
                </div>
                <div class="biography-item-line">
                    <span><i>Bachelor of Computer Science; GPA: 3.8/4.0</i></span>
                    <span><i>September 2017 – April 2019</i></span>
                </div>
            </div>
            <div class="biography-item">
                <div class="biography-item-line">
                    <span><b>Shanghai Jiao Tong University</b></span>
                    <span>Shanghai, China</span>
                </div>
                <div class="biography-item-line">
                    <span><i>Bachelor of Electronic and Computer Engineering; GPA: 3.5/4.0</i></span>
                    <span><i>September 2015 – July 2019</i></span>
                </div>
            </div>
        </div>

        <div id="work-experience" class="biography-section font-text">
            <div class="biography-name">
                <table>
                    <tr>
                        <td>
                            <hr/>
                        </td>
                        <td style="width: 1%; white-space: nowrap">
                            <div style="font-size: 2rem; margin: 2rem">Work Experience</div>
                        </td>
                        <td>
                            <hr/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="biography-item">
                <div class="biography-item-line">
                    <span><b>AuraMaze.org</b></span>
                    <span>Ann Arbor, MI</span>
                </div>
                <div class="biography-item-line">
                    <span><i>Co-Founder and CTO</i></span>
                    <span><i>August 2018 – Present</i></span>
                </div>
                <div class="biography-item-content">

                    &#8226; Objective: Creating a smart audio guide for art museums, with which users can identify
                    paintings with phone camera, listen to audio introductions, write reviews for favorite artworks, and
                    get personalized recommendation.<br/>

                    &#8226; Implemented low-latency painting identification algorithm based on OpenCV contour detection
                    and image signature search engine, which covers more than 140,000 public domain artworks, with 95\%+
                    accuracy and tolerance of rotation, resizing and compression.<br/>

                    &#8226; Integrated End-to-End Text-to-Speech Synthesis Model into React Native mobile front-end
                    interface.<br/>

                    &#8226; Established a load balancer with Nginx to redirect user requests to multiple servers running
                    Express.js and Flask RESTful API, in order to distribute high CPU demands in image processing and
                    ensure zero downtime during rolling update or instance crash.<br/>

                    &#8226; Authenticated users with JSON Web Token and Passport.js to support multiple login methods
                    including username &amp; password, Gmail, Facebook.<br/>

                    &#8226; Built an Elasticsearch text search engine supporting multiple languages, fuzzy query, search
                    result highlighting.<br/>

                    &#8226; Developed a distributed message streaming system with Kafka, of which the main producer is
                    Amazon Aurora, with Debezium capturing all database changes, and the consumers are microservices
                    including Elasticsearch.<br/>

                    &#8226; Published iOS version on App Store and Android version on Google Play.<br/>

                </div>
            </div>
            <div class="biography-item">
                <div class="biography-item-line">
                    <span><b>MPOWER Financing</b></span>
                    <span>Washington, D.C.</span>
                </div>
                <div class="biography-item-line">
                    <span><i>Engineering Intern</i></span>
                    <span><i>May 2018 – August 2018</i></span>
                </div>
                <div class="biography-item-content">

                    &#8226; Objective: Developing a Salary Prediction Model to serve as credit reference for
                    international student loans.<br/>

                    &#8226; Cleansed H1B application datasets by launching a Solr search engine to map major name
                    keywords to CIP codes.<br/>

                    &#8226; Applied Mincer earnings function and Burr distribution on data set of Economic Research
                    Institute to estimate salary percentiles across 6399 occupations in 67 countries, with R<sup>2</sup>
                    score reaching 0.99.<br/>

                    &#8226; Built a Random Forest Regression model with scikit-learn, based on college academic factors
                    to predict average salary of 7593 U.S. colleges, and achieved a 0.85 R<sup>2</sup> score in k-fold
                    cross validation.<br/>

                    &#8226; Established a Data Warehouse on top of Amazon RDS PostgreSQL database and S3 cloud storage
                    service for durable storage and long-term analysis of data and models.<br/>

                </div>
            </div>
            <div class="biography-item">
                <div class="biography-item-line">
                    <span><b>Huawei Technologies Co., Ltd.</b></span>
                    <span>Shanghai, China</span>
                </div>
                <div class="biography-item-line">
                    <span><i>Full-Stack Engineering Intern</i></span>
                    <span><i>April 2017 – December 2017</i></span>
                </div>
                <div class="biography-item-content">

                    &#8226; Objective: Building an Online Appraisal System which enables HR to create/buy and send
                    questionnaires to employees for investigation and analysis.<br/>

                    &#8226; Developed the website with jQuery for front-end and CodeIgniter MVC framework &amp; MySQL
                    for back-end.<br/>

                    &#8226; Achieved responsiveness for multiple viewports such as smartphones and tablets with
                    Bootstrap's Grid system.<br/>

                    &#8226; Validated forms in front-end using jQuery Validation Plugin to give instant feedback and
                    reduce server traffic, and again in back-end using CodeIgniter Form Validation library to improve
                    security.<br/>

                    &#8226; Reconstructed the questionnaire creation page with Angular to avoid direct DOM modification,
                    and utilize data binding to handle the complex relation between question scores and
                    multi-dimensional appraisal grades.<br/>

                </div>
            </div>
        </div>

        <div id="research-experience" class="biography-section font-text">
            <div class="biography-name">
                <table>
                    <tr>
                        <td>
                            <hr/>
                        </td>
                        <td style="width: 1%; white-space: nowrap">
                            <div style="font-size: 2rem; margin: 2rem">Research Experience</div>
                        </td>
                        <td>
                            <hr/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="biography-item">
                <div class="biography-item-line">
                    <span><b>Table Embeddings</b></span>
                    <span>Ann Arbor, MI</span>
                </div>
                <div class="biography-item-line">
                    <span><i>Instructed by Prof. Michael Cafarella at University of Michigan</i></span>
                    <span><i>September 2018 – Present</i></span>
                </div>
                <div class="biography-item-content">

                    &#8226; Conducted Data ETL on 233 million tables from Web HTML with Python multiprocessing scripts
                    to extract information of column labels and row entities.<br/>

                    &#8226; Executed Hadoop MapReduce tasks to analyze column label frequency and distribution.<br/>

                    &#8226; Applied Named Entity Recognition algorithms on table columns to get initial information of
                    potential labels.<br/>

                    &#8226; Built PyTorch neural networks and decision trees which take encoded table as input and
                    predict missing column labels or cell values.<br/>

                </div>
            </div>
            <div class="biography-item">
                <div class="biography-item-line">
                    <span><b>Fingerprint Minutiae Extraction Based on Deep Learning</b></span>
                    <span>Shanghai, China</span>
                </div>
                <div class="biography-item-line">
                    <span><i>Instructed by Prof. Manhua Liu at Shanghai Jiao Tong University</i></span>
                    <span><i>March 2017 – June 2017</i></span>
                </div>
                <div class="biography-item-content">

                    &#8226; Generated partial fingerprint figures containing minutiae, with Matlab Image Processing
                    Toolbox, based on manually labeled fingerprint datasets to serve as training data.<br/>

                    &#8226; Achieved 98.47% accuracy in classifying partial fingerprint figures with and without
                    minutiae by building a Convolutional Neural Network with TensorFlow.<br/>

                    &#8226; Determined the coordinates of minutiae in a raw fingerprint image according to the
                    classification results of cropped figures, which can be taken as the input of fingerprint matching
                    algorithm.<br/>

                </div>
            </div>
        </div>

        <div id="project-experience" class="biography-section font-text">
            <div class="biography-name">
                <table>
                    <tr>
                        <td>
                            <hr/>
                        </td>
                        <td style="width: 1%; white-space: nowrap">
                            <div style="font-size: 2rem; margin: 2rem">Project Experience</div>
                        </td>
                        <td>
                            <hr/>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="biography-item">
                <div><b>Software Systems Related Projects</b>: Course projects of UMich EECS 482, EECS 485, EECS 489 and
                    MIT 6.824.
                </div>
                <div class="biography-item-content">

                    &#8226; Wrote a C++ thread library which implements thread switch, mutual exclusion and condition
                    variable.<br/>

                    &#8226; Constructed a pager using C++ which manages application processes' virtual address
                    spaces.<br/>

                    &#8226; Developed a multi-threaded network file server based on hierarchical file systems and socket
                    programming.<br/>

                    &#8226; Set up a video streaming CDN with support for adaptive bitrate selection and DNS load
                    balancing.<br/>

                    &#8226; Designed a reliable transport protocol on the basis of UDP, which can handle packet loss,
                    delay, corruption, duplication, and reordering.<br/>

                    &#8226; Built multi-worker and fault tolerant MapReduce servers in Python and Go to process user
                    submitted tasks.<br/>

                    &#8226; Implemented Raft with Go to achieve consensus in leader election and log replication, and
                    launched a distributed key/value storage service on top of Raft.<br/>

                </div>
            </div>
            <div class="biography-item">
                <div><b>CSSA Apps (app.um-cssa.org)</b>: Web applications developed for University of Michigan Chinese
                    Students and Scholars Association.
                </div>
                <div class="biography-item-content">

                    &#8226; Led an eight-person team to develop React front-end, with Redux as state container, Ant
                    Design as UI style theme, React Router as client-side router, React Motion and Ant Motion as
                    animation design tools.<br/>

                    &#8226; Designed reuseable components such as react-stretchable-button (published on NPM with 1700+
                    downloads).<br/>

                    &#8226; Implemented a search engine based on Chinese text segmentation, Hadoop MapReduce indexing
                    and tf-idf scores.<br/>

                    &#8226; Deployed multiple React clients and Flask servers on Azure Virtual Machine via Nginx Reverse
                    Proxy.<br/>

                </div>
            </div>
            <div class="biography-item">
                <div><b>Beverage Serving Robot</b>: Bluetooth controlled robot which can automatically add beverage for
                    guests.
                </div>
                <div class="biography-item-content">

                    &#8226; Drew CAD of the robot using SolidWorks and created its mechanical arms with 3D printing
                    techniques.<br/>

                    &#8226; Developed an Android app to send control signals to the Arduino programmed robot through
                    Bluetooth module.<br/>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="navbar"></div>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#navbar').load('/navbar.html');
    });
</script>
<script type="text/javascript" src="/js/jquery.appear.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/biography.js"></script>
</body>
</html>