<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zian Ke</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" type="text/css" href="./css/common.css">
    <link rel="stylesheet" type="text/css" href="./css/blog.css">
</head>
<body id="blog">
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<div class="list-div">
    <div class="list-container">
        <div class="list-title font-text">
            Blog
        </div>
        <div class="list-outer">
            <div class="list-inner">
                <a style="display: block; text-decoration: none; color: #131416" th:each="post : ${posts}" th:href="@{/blog(title=${post.uri})}">
                    <div class="list-item">
                        <div class="list-item-image">
                            <img src="img/eb24ddc481f04ac4ee9c92d14d988fa148b319901df62e733d7e899f8cf2847d.jpg"
                                 style="height: 100%">
                        </div>
                        <div class="list-item-content font-quote">
                            <h1 th:text="${post.title}"/>
                            <p th:text="${post.subtitle}" />
                        </div>
                    </div>
                </a>
                <div class="list-item-empty"></div>
                <div class="list-item-empty"></div>
                <div class="list-item-empty"></div>
            </div>
            <div class="mask-top">

            </div>
            <div class="mask-bottom">

            </div>
        </div>

    </div>
    <svg height="100%" width="50" viewBox="0 0 100 100" preserveAspectRatio="none" class="list-triangle display-on-large">
        <polygon points="100,100 100,0 0,100" style="fill:#ffffff"/>
    </svg>
</div>

<div class="article-div">

</div>

<div id="navbar"></div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script type="text/javascript" src="./js/jquery.min.js">\x3C/script>')</script>
<script>
    $(document).ready(function () {
        $('#navbar').load('navbar.html');
    });
</script>
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" src="./js/blog.js"></script>
</body>
</html>