<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Zian Ke</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel='shortcut icon' type='image/x-icon' href="/favicon.ico"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>
<body id="index">
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>


<div>
    <div class="index-section" id="home">
        <div class="index-section-container">
            <div class="mask">
                <div class="home-buttons">
                    <table>
                        <tr>
                            <td>
                                <hr/>
                            </td>
                            <td width="300px">
                                <div class="home-button font-link" id="about">
                                    ABOUT ME
                                </div>
                            </td>
                            <td>
                                <hr/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr/>
                            </td>
                            <td width="300px">
                                <div class="home-button font-link" id="resume">
                                    MY RÉSUMÉ
                                </div>
                            </td>
                            <td>
                                <hr/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="index-section" id="biography">
        <div class="index-section-container font-text verticle-center-parent">
            <div class="verticle-center-child sections">
                <div class="text-card verticle-center-parent" id="computer-skills"
                     onclick="window.location='/biography#computer-skills'">
                    <div class="verticle-center-child" style="width: 100%">
                        <h1>COMPUTER SKILLS</h1>
                        <p><span><b>&#8226; Languages: </b>Python, JavaScript, Go, Java, PHP, SQL, HTML, CSS, C, C++, Matlab</span>
                        </p>
                        <p><span><b>&#8226; Front-end: </b>React, Redux, Angular, jQuery, Bootstrap, Ant Design, Material-UI, Webpack</span>
                        </p>
                        <p><span><b>&#8226; Back-end: </b>Flask, CodeIgniter, Node.js, Express.js, Elasticsearch, Solr, Kafka, Hadoop, Nginx, Apache</span>
                        </p>
                        <p><span><b>&#8226; Databases: </b>MySQL, PostgreSQL, Aurora, SQL*Plus, SQLite, MongoDB, DynamoDB, Neo4j</span>
                        </p>
                        <p><span><b>&#8226; Tools: </b>Git, AWS, Azure, Linux, VirtualBox, Travis CI, LaTeX, Adobe Premiere Pro, After Effects</span>
                        </p>
                        <div style="margin-top: -1rem">
                            <p class="more font-link">MORE INFORMATION</p>
                        </div>
                    </div>
                </div>
                <div class="text-card verticle-center-parent" id="education"
                     onclick="window.location='/biography#education'">
                    <div class="verticle-center-child" style="width: 100%">
                        <h1>EDUCATION</h1>
                        <p>
                            <span>&#8226; <b>University of Michigan</b></span><span>Bachelor of Computer Science</span><span>GPA: 3.8/4.0</span>
                        </p>
                        <p><span>&#8226; <b>Shanghai Jiao Tong University</b></span><span>Bachelor of Electronic and Computer Engineering</span><span>GPA: 3.5/4.0</span>
                        </p>
                        <div style="margin-top: -1rem">
                            <p class="more font-link">MORE INFORMATION</p>
                        </div>
                    </div>
                </div>
                <div class="text-card verticle-center-parent" id="work-experience"
                     onclick="window.location='/biography#work-experience'">
                    <div class="verticle-center-child" style="width: 100%">
                        <h1>WORK EXPERIENCE</h1>
                        <p>
                            <span>&#8226; <b>MPOWER Financing</b></span><span>Engineering Intern</span><span>May 2018 - August 2018</span>
                        </p>
                        <p>
                            <span>&#8226; <b>Huawei Technologies Co., Ltd.</b></span><span>Full-Stack Engineering Intern</span><span>April 2017 - December 2017</span>
                        </p>
                        <div style="margin-top: -1rem">
                            <p class="more font-link">MORE INFORMATION</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-section" id="projects">
        <div class="index-section-container">
            <div class="img-cards-container">
                <a class="img-card-container" th:each="post : ${projects}" th:href="@{'/projects/'+${post.id}}">
                    <div class="img-card">
                        <img th:src="${'/'+post.cover}"/>
                        <div class="img-card-content center-parent">
                            <div class="center-child font-link">
                                <p><b th:text="${post.title}"></b></p>
                                <p class="keywords" th:text="${post.subtitle}"></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="img-card-container" href="/projects">
                    <div class="img-card">
                        <img src="/more.png"/>
                        <div class="img-card-content center-parent">
                            <div class="center-child font-link">
                                <p><b>SEE ALL PROJECTS</b></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="index-section" id="blog">
        <div class="index-section-container">
            <div class="img-cards-container">
                <a class="img-card-container" th:each="post : ${blog}" th:href="@{'/blog/'+${post.id}}">
                    <div class="img-card">
                        <img th:src="${'/'+post.cover}"/>
                        <div class="img-card-content center-parent">
                            <div class="center-child font-link">
                                <p><b th:text="${post.title}"></b></p>
                                <p class="keywords" th:text="${post.subtitle}"></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a class="img-card-container" href="/blog">
                    <div class="img-card">
                        <img src="/more.png"/>
                        <div class="img-card-content center-parent">
                            <div class="center-child font-link">
                                <p><b>SEE ALL POSTS</b></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="index-section" id="contact">
        <div class="index-section-container center-parent">
            <div class="circle-container center-child">
                <div id="contact-content-github" class="contact-content center-parent">
                    <div class="center-child">
                    <span style="position: relative">
                        <a class="font-link" href="https://github.com/zianke">github.com/zianke</a>
                    </span>
                    </div>
                </div>
                <div id="contact-content-twitter" class="contact-content center-parent">
                    <div class="center-child">
                    <span style="position: relative">
                        <a class="font-link" href="https://twitter.com/zian_ke">twitter.com/zian_ke</a>
                    </span>
                    </div>
                </div>
                <div class="contact-content"></div>
                <div id="contact-content-linkedin" class="contact-content center-parent">
                    <div class="center-child">
                    <span style="position: relative">
                        <a class="font-link" href="https://www.linkedin.com/in/zianke/">linkedin.com/in/zianke/</a>
                    </span>
                    </div>
                </div>
                <div class="contact-content"></div>
                <div id="contact-content-facebook" class="contact-content center-parent">
                    <div class="center-child">
                    <span style="position: relative">
                        <a class="font-link" href="https://www.facebook.com/profile.php?id=100004553536885">facebook.com/profile.php?id=100004553536885</a>
                    </span>
                    </div>
                </div>
                <div id="contact-content-qq" class="contact-content center-parent">
                    <div class="center-child">
                        <img src="/qq.jpg" style="width: 100%"/>
                    </div>
                </div>
                <div id="contact-content-weixin" class="contact-content center-parent">
                    <div class="center-child">
                        <img src="/weixin.jpg" style="width: 100%"/>
                    </div>
                </div>
                <div id="contact-content-envelope" class="contact-content center-parent" style="display: block">
                    <div class="center-child">
                    <span style="position: relative">
                        <a class="font-link" href="mailto:zian.ke@zian.ke">zian.ke@zian.ke</a>
                    </span>
                    </div>
                </div>
                <div id="contact-content-phone" class="contact-content center-parent">
                    <div class="center-child">
                    <span style="position: relative">
                        <a class="font-link" href="tel:+1 (734) 263-8857">+1 (734) 263-8857</a>
                    </span>
                    </div>
                </div>
                <div id="contact-icon-github" class="contact-icon deg0"><i class="fab fa-github fa-lg"></i></div>
                <div id="contact-icon-twitter" class="contact-icon deg45"><i class="fab fa-twitter fa-lg"></i></div>
                <div id="contact-icon-linkedin" class="contact-icon deg90"><i class="fab fa-linkedin fa-lg"></i></div>
                <div id="contact-icon-facebook" class="contact-icon deg135"><i class="fab fa-facebook fa-lg"></i></div>
                <div id="contact-icon-qq" class="contact-icon deg180"><i class="fab fa-qq fa-lg"></i></div>
                <div id="contact-icon-weixin" class="contact-icon deg225"><i class="fab fa-weixin fa-lg"></i></div>
                <div id="contact-icon-envelope" class="contact-icon contact-icon-active deg270"><i
                        class="fas fa-envelope fa-lg"></i></div>
                <div id="contact-icon-phone" class="contact-icon deg315"><i class="fas fa-phone fa-lg"></i></div>
            </div>
        </div>
    </div>
</div>

<div id="navbar"></div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#navbar').load('/navbar_index.html');
    });
</script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
